span {
  margin: auto;
}
.dropdown .MuiSelect-icon {
  /* display: none; */
  font-size: 20px;
}
.header-arrow {
  width: 140px;
}
.MuiList-root {
  display: block !important;
}
.MuiSelect-select {
  display: flex !important;
}

@media only screen and (max-width: 770px) {
  .dropdown .MuiSelect-icon {
    display: none;
  }
  .header-arrow {
    width: auto;
  }
}
.MuiList-root {
  display: grid;
  grid-template-columns: 0.5fr 0.6fr;
  align-items: center;
  margin: auto;
  border-radius: 10px;
}

.MuiSelect-select {
  padding: 3px !important;
}

@media only screen and (max-width: 500px) {
  .header-links {
    display: flex;
    gap: 9px !important;
  }
  .icon {
    margin-left: 3px !important;
  }
}
